{% extends 'dashboard/layouts/_admin_base.html' %}
<!---->
{% load materializecss %}

<!-- main content -->
{% block content %}
<nav style="background: #3d6ed6">
  <div class="nav-wrapper" style="margin-left: 2rem; margin-right: 2rem">
    <a href="#" class="brand-logo"> SAFARI :: Dashboard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'acceuil:acceuil' %}">Acceuil</a></li>
    </ul>
  </div>
</nav>
<div class="dashboard">
  <!-- liste des programmes -->
  <div class="programmes">
    <h2 class="main-title" style="position: relative">
      Liste des programmes
      <a
        class="btn-floating halfway-fab waves-effect waves-light red"
        href="{% url 'dashboard:nouveau-programme' %}"
        ><i class="material-icons">add</i></a
      >
    </h2>
    <div class="programme-list mt4">
      {% for prog in programmes %}
      <ul class="collection">
        <li class="collection-item avatar">
          <img
            src="{{prog.itineraire.agence.logo.url}}"
            alt="{{prog.itineraire.agence.denomination}} logo"
            class="circle"
          />
          <span class="title">{{prog.itineraire}}</span>
          <p>Départ : le {{prog.date_depart}} à {{prog.heure_depart}}</p>
          <a
            href="{% url 'dashboard:programme-details' prog.id %}"
            class="secondary-content"
            ><i class="material-icons">grade</i></a
          >
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>

  <!-- Liste des reservations -->
  <div class="reservations">
    {% include 'dashboard/layouts/_programme_details.html' %}
  </div>
</div>
{% endblock %}
