.overlay.navigation {
  height: 100% !important;
}
.section.banner-w3ls {
  height: 100px !important;
}
.programs-wrapper,
.agencies-wrapper {
  display: flex;
  justify-content: center;
}
.all-program-link {
  margin-top: 4rem;
  text-align: center;
}
.all-program-link a {
  color: white;
  background: orange;
  padding: 1rem 3rem;
  border-radius: 0.25rem;
}
.program {
  width: 20%;
  padding: 1.5rem;
  margin: 1.2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.program .img-wrapper {
  width: 100%;
}
.program img {
  width: 100%;
  /* opacity: 0.8; */
}
.program .card-icon {
  width: 1.7rem;
  text-align: center;
}
.agency-logo {
  height: 50px;
}
