{% extends 'acceuil/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dashboard/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'acceuil/css/app.css' %}">
{% endblock %}

<!-- main content -->
{% block main %}
<div class="reservation-form">
  <h4>Reserver votre place</h4>
  <form action="#">
    {% csrf_token %} {{form}}
    <button type="submit" class="btn">Reserver</button>
  </form>
</div>
<div class="reservation-payement">
  <h2>Payer votre reservation</h2>
  {% include 'agence/pages/paypal.html' %}
</div>
<!---->
{% endblock %}
