{% extends 'dashboard/layouts/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}UCG LAB - Connexion{% endblock title %}
{% block sheets_files %}
    <link href="{% static 'css/signin.css' %} " rel="stylesheet">
{% endblock sheets_files %}

{% block content %}
    <div class="row">
        <div class="col offset-m3 l4 offset-l4 z-depth-9 card mt-4"
        style="margin-top: 5rem; border-radius: 0.5rem">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-success alert-dismissible fade show mt-3"> 
                        {{ msg }} 
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <form class="form-signin w-200" method="POST">
                {% csrf_token %}
            
                <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
                <br>
                {{ form|crispy }}
                <button class="btn btn-lg btn-info btn-block" type="submit">Connexion</button>
            </form>
        </div>
    </div>
{% endblock content %}