{% load static %}
<div class="programs-wrapper">
  {% for prog in programs %}
  <div class="program">
    <div class="img-wrapper">
      <p>{{prog.agency.name}}</p>
      <img src="{% static 'home/images/map-2.jpg' %}" alt="itineray img" />
    </div>
    <div class="infos">
      <p>
        <i class="card-icon fa fa-map-marker"></i> {{prog.go_from}} -
        {{prog.go_to}}
      </p>
      <p><i class="card-icon fa fa-clock-o"></i> {{prog.go_date_time}}</p>
      <p>
        <i class="card-icon fa fa-compress"></i> Places disponible :
        {{prog.places}}
      </p>
      <p><i class="card-icon fa fa-money"></i> Billet : {{prog.price}} $</p>
    </div>
    <a href="#" class="reserve">Reserver</a>
  </div>
  {% endfor %}
</div>
{% if home %}
<div class="all-program-link">
  <a href="{% url 'agency:programs' %}"
    >Voir tous <i class="fa fa-arrow-right"></i>
  </a>
</div>

{% endif %}
