<section class="footer-w3-agileits">
  <div class="container">
    <div class="col-lg-8 col-md-8">
      <ul class="w3-agile">
        <li><a href="{% url 'home:home' %}" class="page-scroll">Home</a></li>
        {% if home %}
        <li><a href="#about" class="page-scroll">Programmes</a></li>
        <li><a href="#service" class="page-scroll">Agences</a></li>
        {% endif %}
      </ul>
    </div>
    <p class="text-center">&copy; 2021 Safari. All Rights Reserved</p>
  </div>
</section>
<!-- /footer -->
<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->
