h2 {
  font-size: 1.8rem;
  margin-top: 0;
}
h3 {
  margin-top: 0;
  font-size: 1.4rem;
}
.main-title {
  color: white;
  background: #73adf0;
  padding: 1rem;
}
.card-title {
  font-size: 1.8rem;
}
.dashboard {
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  background: #e9eef0;
}
.programmes {
  flex: 2;
  overflow: hidden;
  /* padding: 1rem; */
  margin-right: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2rem #d9dddf;
}
form {
  padding: 1rem;
}
.collection .collection-item {
  margin-top: 0;
}
.collection .collection-item.avatar {
  min-height: 66px;
  padding-left: 72px;
  position: relative;
}
.reservations {
  flex: 6;
  margin: 1rem;
}
.reservations-list {
  overflow: hidden;
  padding: 1rem;
  margin-right: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2rem #d9dddf;
}
