<!-- details de programme -->
<div class="details-programme">
  <h3>Détails sur le programme</h3>
  <div class="cards">
    <div class="row">
      <div class="col s12 m3">
        <div class="card-panel teal">
          <span class="white-text">
            <span class="card-title">{{programme.places}}</span> <br />
            Places
          </span>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel pink accent-2">
          <span class="white-text">
            <span class="card-title">{{programme.prix}}</span> $<br />
            Dollars
          </span>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel blue darken-1">
          <span class="white-text">
            <span class="card-title">18</span> <br />
            Places Libres
          </span>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel blue darken-1">
          <span class="white-text">
            <span class="card-title">0</span> <br />
            Places Payées
          </span>
        </div>
      </div>
    </div>
  </div>

  <h2>Reservations</h2>

  <!-- reservations -->
  <div class="reservations-list">
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Reservateur</th>
          <th>Payé</th>
          <th>Acton</th>
        </tr>
      </thead>

      <tbody>
        {% for reservation in reservations %}
        <tr>
          <td>{{reservation.client.nom}}</td>
          <td>{% if reservation.paye %}Oui {%else%} Non {% endif %}</td>
          <td>Actions</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
